{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            <p> Сортировать по: <a href={% url "catalog" %}?sort=name> Названию </a><a href={% url "catalog" %}?sort=min_price>По возрастанию цены</a> <a href={% url "catalog" %}?sort=max_price>По Убыванию цены</a></p>
        </div>

        <div class="content">
            {% for p in phones %}
            <div class="phone">
                <a href={%url "product" p.slug%}><h2 style="color:blue">{{p.name}}</h2></a>
                <p class="price">Стоимость: {{p.price}}p</p>
                <img src={{p.image}} class="image"></img>
            </div>
            {% endfor %}
            {# Здесь должен отображаться каталог с телефонами #}
        </div>
    </div>
{% endblock %}
